---
export interface Props {
    logo: string
}

const { logo } = Astro.props;

const headingSize:string = '32px'
---

<header class="navbar">
    <div class="container">
        <h2 class="logo">{ logo }</h2>

        <ul class="nav-items">
            <li class="nav-item">
                <a href="">Home</a>
            </li>
        </ul>
    </div>
</header>

<style lang="scss" define:vars={{headingSize}}>

    .navbar {
        width: 100% !important;
        
        .container {
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;
            padding: 20px 20px;

            .logo {
                font-size: var(--headingSize);
                font-weight: 600;
            }

            .nav-items {
                list-style: none;

                .nav-item {
                    display: flex !important;

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    }
</style>